body {
    background-image: url("../img/saladeaula.webp");
    background-repeat: no repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.absolute {
    height: 50px;
    position: absolute;
    top: 35px;
    right: 32px;
}

.bd {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.bd1 {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.bd2:hover {
    background-color: #ddd;
}

.absolute {
    height: 50px;
    position: absolute;
    top: 35px;
    right: 32px;
}

#princ {
    font-size: xx-large;
}

.letras {
    color: chartreuse;
}