@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 900vh;
}

nav.menu-lateral {
    width: 50px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(99, 24, 24);

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
}

nav.menu-lateral:hover {
    width: 300px;
    transition: 1s;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .8s;
}

ul li.atv{
    background-color: rgb(99, 24, 24);
}


ul li.item-menu:hover {
    background: rgb(99, 24, 24);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 35px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    margin-left: 9px;
}